<html> 
    <head> 
        <title> door lock setting </title>
    </head>
    <body>
        <h3> door lock setting </h3>
        door lock setting1 : {{setting1}} <br />
        door lock setting2 : {{setting2}} <br />
        door lock setting3 : {{setting3}} <br />

        <form method ="post" action ="/doorLockSetting">
                <button type ="submit"> apply </button>
        </form>

        <form method ="post" action ="/mainPage">
            <button type ='submit' > goback</button>
        </form>        
    </body>
</html>