<html> 
    <head> 
        <title> mainPage </title>
    </head>
    <body>
        <h3> user profile</h3>
        doorLocker connection : {{doorLockConnection}} <br />
        doorLocker state : {{doorLockerState}} <br />
		
		otp :{{otp_value}}<br>
		time left : {{time_left}<br>
		alert for hack : {{alert_for_hack}}<br>
		
        <form method ="post" action ="/resetOtpTime">
            <button type ='submit' > reset otp time </button>
        </form>

        <form method ="post" action ="/logout">
            <button type ='submit' > logout</button>
        </form>
    </body>
</html>














