<html> 
    <head> 
        <title> rootPage </title>
    </head>
    <body>
        <h3> rooooooot </h3>
        doorLocker connection : {{doorLockConnection}} <br />
        doorLocker state : {{doorLockerState}} <br />
        
        <form method ="post" action ="/doorLockSetting">
            <button type ='submit' > change setting </button>
        </form>
		
        <form method ="post" action ="/doorLockLog">
            <button type ='submit' > show Log </button>
        </form>
		
        <form method ="post" action ="/logout">
            <button type ='submit' > logout</button>
        </form>
		
        <form method ="post" action ="#######">
            <button type ='submit' > User List</button>
        </form>
		
    </body>
</html>






















